@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.container {
  display: flex;
  background-color: black;
  height: 70vh;
}

.home {
  color: white;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10%;
  justify-content: space-evenly;
}

.text-site .name {
  margin-bottom: 15px;
}

.profile-photo {
  width: 200px;
  height: 200px;
  box-shadow: 10px 10px rgba(112, 57, 240, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:hover {
  scale: 1.1;
}

@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .home {
    display: flex;
    flex-direction: column;
  }
  .profile-photo {
    margin-top: 20px;
  }
}
